<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi sitio web</title>
  </head>
  <body>
    <div>
      <a href="pagina1">pagina1</a>
      <a href="pagina2">pagina2</a>
      <br />
      <hr />
      <br />

      {% block contenido %} {% endblock %}

      <br />
      <hr />
      <br />
      <h5>Esto es un pie de pagina</h5>
    </div>
  </body>
</html>
