<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuestra web</title>
  </head>
  <body>
    <h1>
      Esta la portada de {{ datos['nombre'] }} viene desde flask este muchacho
      tiene {{ datos['edad'] }} años, el esta estudiando {{ datos['carrera']}}
    </h1>
    <img src="../static/img/img1.jpg" alt="codigo" />
  </body>
</html>
